<div id="<%= dom_id presentation %>">
  <p>
  <strong>User assigned to:</strong>
  <%= presentation.user_email %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= presentation.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= presentation.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= presentation.date %>
  </p>

</div>
