<!DOCTYPE html>
<html>
  
  <head>
    <title><%= yield(:title) %> | TeamBob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  

  
  <body>
  <div id="navbar">
    <ul>
      <div id="removeAdmin"><li><button type="button"><%= link_to "Home", '/static_pages/home' %></button></li></div>
      <li><button type="button"><%= link_to "Evaluations",   '/evaluations' %></button></li>
      <li><button type="button"><%= link_to "Presentations",   '/presentations' %></button></li>
      <li><button type="button"><%= link_to "Users", '/users' %></button></li>
      <li><button type="button"><%= link_to "Sign Up!", '/users/new' %></button></li>
      <li><button type="button"><%= link_to "User View", '/static_pages/userview' %></button></li>
    </ul>
  </div>
    <%= yield %> 
    <script src="application.js"></script>
    <input type="button" value="Remove Admin View" onclick="removeAdminView()" />
  </body>
  
</html>
