<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | TeamBob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", '/static_pages/home' %></li>
      <li><%= link_to "Evaluations",   '/evaluations' %></li>
      <li><%= link_to "Presentations",   '/presentations' %></li>
      <li><%= link_to "Users", '/users' %></li>
    </ul>
    <%= yield %>
  </body>
</html>
