<!DOCTYPE html>
<html>
  
  <head>
    <title><%= yield(:title) %> | TeamBob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body>
    <div id="navbar">
      <ul class="navigation">
          <% if user_signed_in? %>
            <%if current_user.admin%>
              <li class="list"><button type="button" class="style-button"><%= link_to "Evaluations",   '/evaluations' %></button></li>
              <li class="list"><button type="button" class="style-button"><%= link_to "Presentations",   '/presentations' %></button></li>
              <li class="list"><button type="button" class="style-button"><%= link_to "Edit profile", edit_user_registration_path %></button></li>
              <li class="list"><button type="button" class="style-button"><%= link_to "Logout", destroy_user_session_path, method: :delete %></button></li>
            <%else%>
              <li class="list"><button type="button" class="style-button"><%= link_to "Evaluations",   '/evaluations' %></button></li>
              <li class="list"><button type="button" class="style-button"><%= link_to "Edit profile", edit_user_registration_path %></button></li>          
              <li class="list"><button type="button" class="style-button"><%= link_to "Logout", destroy_user_session_path, method: :delete %></button></li>
            <%end%>
        <% else %>
          <li class="list"><button type="button" class="style-button"><%= link_to "Sign Up!", new_user_registration_path %></button></li>
          <li class="list"><button type="button" class="style-button"><%= link_to "Login", new_user_session_path %></button></li>
        <% end %>
      </ul>
    </div>
    <%= yield %> 
  </body>
  
</html>
